EnviTest/einv/xsd/v32/E0502.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:GEINV:eInvoiceMessage:E0502:3.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GEINV:eInvoiceMessage:E0502:3.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="GenericType_3.2.xsd"/>		
	<!-- 進項發票 -->
	<xsd:element name="InputInvoice">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Main -->
				<xsd:element name="Main" type="Main"/>
				<!-- Details -->
				<xsd:element name="Details" type="Details" minOccurs="0"/>
				<!-- Amount -->
				<xsd:element name="Amount" type="Amount" minOccurs="0"/>
				<!-- Cancel -->
				<xsd:element name="Cancel" type="Cancel" minOccurs="0"/>
				<!-- Reject -->
				<xsd:element name="Reject" type="Reject" minOccurs="0"/>
				<!-- Void -->
				<xsd:element name="Void" type="Void" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- 主檔資料 -->
	<xsd:complexType name="Main">
		<xsd:sequence>
			<!-- 發票號碼 -->
			<xsd:element name="InvoiceNumber" type="InvoiceNumberType"/>
			<!-- 發票日期 -->
			<xsd:element name="InvoiceDate" type="DateType"/>
			<!-- 發票時間 -->
			<xsd:element name="InvoiceTime" type="TimeType"/>
			<!-- 發票當下狀態 -->
			<xsd:element name="CurrentStatus">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 營業類別 -->
			<xsd:element name="BusinessType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 賣方統一編號 -->
			<xsd:element name="SellerId">
				<xsd:simpleType>
					<xsd:restriction base="BAN">
						<xsd:minLength value="8"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 賣方 名稱-->
			<xsd:element name="SellerName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 買方 -->
			<xsd:element name="BuyerId">
				<xsd:simpleType>
					<xsd:restriction base="BAN">
						<xsd:minLength value="8"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 買方 名稱-->
			<xsd:element name="BuyerName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 發票檢查碼 -->
			<xsd:element name="CheckNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 買方註記欄 -->
			<xsd:element name="BuyerRemark" type="BuyerRemarkEnum" minOccurs="0"/>
			<!-- 總備註 -->
			<xsd:element name="MainRemark" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 通關方式註記 -->
			<xsd:element name="CustomsClearanceMark" type="CustomsClearanceMarkEnum" minOccurs="0"/>
			<!-- 沖帳別 -->
			<xsd:element name="Category" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 相關號碼 -->
			<xsd:element name="RelateNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 發票類別 -->
			<xsd:element name="InvoiceType" type="InvoiceTypeEnum" minOccurs="0"/>
			<!-- 彙開註記 -->
			<xsd:element name="GroupMark" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[*]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 捐贈註記 -->
			<xsd:element name="DonateMark" type="DonateMarkEnum" minOccurs="0"/>
			<!-- 載具類別號碼 -->
			<xsd:element name="CarrierType" type="CarrierTypeEnum" minOccurs="0"/>
			<!-- 載具顯碼Id -->
			<xsd:element name="CarrierId1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 載具顯碼Id2 -->
			<xsd:element name="CarrierId2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 紙本電子發票已列印註記 -->
			<xsd:element name="PrintMark" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:pattern value="[YN]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 發票捐贈對象 -->
			<xsd:element name="NPOBAN" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 發票防偽隨機碼 -->
			<xsd:element name="RandomNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
						<xsd:pattern value="[0-9][0-9][0-9][0-9]|AAAA"/> 
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 園區/保稅區/遠洋漁業使用確認 (B2B) -->
			<xsd:element name="BondedAreaConfirm" type="BondedAreaEnum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- 明細資料-->
	<xsd:complexType name="Details">
		<xsd:sequence>
			<xsd:element name="ProductItem" minOccurs="1" maxOccurs="999">
				<xsd:complexType>
					<xsd:sequence>	
						<!-- 品名 -->
						<xsd:element name="Description">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="256"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 數量 -->
						<xsd:element name="Quantity">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="7"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 單位 -->
						<xsd:element name="Unit" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 單價 -->
						<xsd:element name="UnitPrice">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="7"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 金額 -->
						<xsd:element name="Amount">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="7"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 明細排列序號 -->
						<xsd:element name="SequenceNumber">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 單一欄位備註 -->
						<xsd:element name="Remark" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="40"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 相關號碼 -->
						<xsd:element name="RelateNumber" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- 彙總資料 -->
	<xsd:complexType name="Amount">
		<xsd:sequence>
			<!-- 銷售額合計(新台幣) -->
			<xsd:element name="SalesAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 免銷售額合計(新台幣) -->
			<xsd:element name="FreeTaxSalesAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 零銷售額合計(新台幣) -->
			<xsd:element name="ZeroTaxSalesAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 課稅別 -->
			<xsd:element name="TaxType" type="TaxTypeEnum"/>
			<!-- 稅率 -->
			<xsd:element name="TaxRate">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="6"/>
						<xsd:fractionDigits value="4"/>
						<xsd:minInclusive value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 營業稅 -->
			<xsd:element name="TaxAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 總計 -->
			<xsd:element name="TotalAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 扣抵金額 -->
			<xsd:element name="DiscountAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 原幣金額 -->
			<xsd:element name="OriginalCurrencyAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 匯率 -->
			<xsd:element name="ExchangeRate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="13"/>
						<xsd:fractionDigits value="4"/>
						<xsd:minInclusive value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 幣別 -->
			<xsd:element name="Currency" type="CurrencyCodeEnum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- 作廢資料 -->
	<xsd:complexType name="Cancel">
		<xsd:sequence>
			<!-- 作廢日期 -->
			<xsd:element name="CancelDate" type="DateType" minOccurs="0"/>
			<!-- 作廢時間 -->
			<xsd:element name="CancelTime" type="TimeType" minOccurs="0"/>
			<!-- 作廢原因 -->
			<xsd:element name="CancelReason" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
					    <xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		  <!-- 專案退稅核准文號 -->
			<xsd:element name="ReturnTaxDocumentNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 作廢備註 -->
			<xsd:element name="CancelRemark" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- 退回資料 -->
	<xsd:complexType name="Reject">
		<xsd:sequence>
			<!-- 退回日期 -->
			<xsd:element name="RejectDate" type="DateType" minOccurs="0"/>
			<!-- 退回時間 -->
			<xsd:element name="RejectTime" type="TimeType" minOccurs="0"/>
			<!-- 退回原因 -->
			<xsd:element name="RejectReason" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
					    <xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 退回備註 -->
			<xsd:element name="RejectRemark" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- 註銷資料 -->
	<xsd:complexType name="Void">
		<xsd:sequence>
			<!-- 註銷日期 -->
			<xsd:element name="VoidDate" type="DateType" minOccurs="0"/>
			<!-- 註銷時間 -->
			<xsd:element name="VoidTime" type="TimeType" minOccurs="0"/>
			<!-- 註銷原因 -->
			<xsd:element name="VoidReason" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
					    <xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 註銷備註 -->
			<xsd:element name="VoidRemark" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>